<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title><%= h(@page_title || "") %></title>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="<%= render_body_class %>">

  <div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal menu" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div id="sul-wrapper">
      <div id="container" class="container">
        <header id="header">
          <div class="row">
            <div class="col-md-6" id="branding">
              <%= link_to(image_tag("sul.png"), "http://library.stanford.edu", :class=>"img-link") %>
            </div>
            <div class="col-md-6" id="utility-links">
              <%= render :partial => "shared/sul_chrome/utility_links" -%>
            </div>
          </div>
        </header>
        <%- navigation = render :partial => "shared/sul_chrome/navigation" -%>
        <%- unless navigation.blank? -%>
          <nav id="navigation-ribbon" class="navbar navbar-default">
            <div class="navbar-inner">
              <div class="container">
                <%= navigation %>
              </div>
            </div>
          </nav>
        <%- end -%>

        <%= render :partial => 'shared/header_navbar' %>
        <div id="main-container">
          <div class="row">
            <div class="col-md-12">
              <div id="main-flashes">
                <%= render :partial=>'/flash_msg' %>
              </div>
            </div>
          </div>

          <div class="row">
            <%= render :partial => "shared/sul_chrome/main_container" %>
          </div>
        </div>
      </div>
    </div>

    <%= render :partial => 'shared/footer' %>
    <footer>
      <%= image_tag("footer-stanford-logo.png", :class => "hidden-phone footer-logo") %>
      <div id="footer-links">
        <%= link_to("Stanford University Home", "http://www.stanford.edu") %> <%= link_to("Maps & Directions", "http://visit.stanford.edu/plan/maps.html") %> <%= link_to("Search Stanford", "http://www.stanford.edu/search/") %> <%= link_to("Terms of Use", "http://www.stanford.edu/site/terms.html") %> <%= link_to("Copyright Complaints", "http://www.stanford.edu/site/copyright.html") %><br/>
        <span>&copy; Stanford University, Stanford, California 94305. (650) 723-2300</span>
      </div>
      <%= render "shared/sul_chrome/footer_addition" %>
    </footer>
  </div>
</body>
</html>
